@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Merriweather:wght@300&family=Rampart+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#7B68EE, #00BFFF);
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    outline: none;
    border: none;
    background: none;
    margin-left: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.getNameField,
.useNameField {
    margin: 15px;
}

.nameLabel{
    font-weight: bold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;

  }

  span{
    color: #191970;
  }

  .nameText{
    margin: 10px;
  }

  .useNameField{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255,.5);
    width: 300px;
    height: 40px;
  }